@import '@/styles/vars.scss';

.radio-line {
   box-sizing: border-box;
   padding: 10px;
   border: 0.5px solid $color-border;
   border-radius: 4px;
   width: 100%;
   cursor: pointer;
   > input {
      appearance: none;
      width: 12px;
      height: 12px;
      border: 2px solid $color-item-secondary;
      border-radius: 50%;
      cursor: inherit;
   }
   & + .radio-line {
      margin-top: 24px;
   }
   &:hover {
      background-color: $color-bg-secondary;
   }
   &.checked {
      background-color: $color-primary-orange-900;
      > input {
         border-color: white;
         border-width: 2px;
      }
      > label {
         color: $color-text-main;
      }
   }
   > label {
      @include text(14px, $color-text-main, 600);
      margin-left: 12px;
   }
}
