@import '@/styles/vars.scss';

.radio-line {
   box-sizing: border-box;
   padding: 10px;
   border: 0.5px solid #d7dcdf;
   border-radius: 4px;
   width: 100%;
   cursor: pointer;
   > input {
      appearance: none;
      width: 12px;
      height: 12px;
      border: 2px solid var(--color-2);
      border-radius: 50%;
      cursor: inherit;
   }
   & + .radio-line {
      margin-top: 24px;
   }
   &:hover {
      background-color:var(--color-4);
   }
   &.checked {
      background-color: $color-primary-orange-900;
      > input {
         border-color: white;
         border-width: 2px;
      }
      > label {
         color: var(--color-1);
      }
   }
   > label {
      @include text(14px,var(--color-3), 600);
      margin-left: 12px;
   }
}
