.img-block {
   width: 100%;
   height: 100%;
   border-radius: 2px;
   backface-visibility: hidden;
   transition: opacity 80ms ease;
   position: relative;

   &.changing {
      // perf drop in FF.
      opacity: 0.4;
   }

   &.ghost {
      opacity: 0.15;
   }

   .mock {
      width: inherit;
      height: inherit;
      background: #F6F9FB;
      display: flex;
      padding: 18px 28px;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      gap: 18px;
      align-items: center;

      font-family: Inter;

      .dnd {
         position: relative;
         width: 100%;
         height: 192px;

         border: 2px dashed #D7DCDF;
         box-sizing: border-box;
         border-radius: 8px;

         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 8px;

         padding: 20px;

         .pic {
            background: url(./assets/image.image.png) center;
            width: 85px;
            height: 85px;
         }

         .ask {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            color: #312F2F;
         }

         .orDrop {
            font-weight: 400;
            font-size: 16px;

            color: #D7DCDF;
         }

         .hidden-input-file {
            position: absolute;
            inset: 0;
            width: inherit;
            height: inherit;
            opacity: 0;
            cursor: pointer;
         }
      }

      .input-block {
         width: inherit;
         display: flex;
         flex-direction: column;
         gap: 5px;

         .name {
            font-weight: 700;
            font-size: 16px;
            color: #312F2F;
         }
      }
   }

   > img {
      width: inherit;
      height: inherit;
      border-radius: 2px;
   }
}
