@use 'framework' as fr;

.page.welcome {
	.logo-ru {
		position: absolute;
		width: 150px;
		height: 50px;
		top: 75px;
		left: 150px;
	}

	.waterfall {
		margin: 0 auto;
		margin-top: 180px;
		width: 360px;
		display: flex;
		flex-direction: column;
		$gap: 24px;
		gap: $gap;
		align-items: stretch;

		.exit-to,
		.enter {
			opacity: 0;
			transform: translateY(14px);
		}
		.page-title {
			@include fr.text-heading();
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 52px;
		}

		.button {
			margin-top: 32px - $gap;
		}
	}
}
