.build-info {
   position: fixed;
   right: 10px;
   bottom: 10px;
   z-index: 9999;

   font-family: monospace;
   font-size: 10px;

   display: flex;
   flex-direction: column;
   max-width: min-content;

   background-color: rgba($color: lightgrey, $alpha: 0.5);
   gap: 3px;
}
