@use '@/assets/styles/framework.scss';

.side-menu {
   width: 250px;
   min-width: 250px;
   display: flex;
   flex-direction: column;
   align-items: stretch;

   height: 100%;

   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;

   color: #51575e;

   border-right: 1px solid #EDF2F4;

   background: #F6F9FB;
}

.top-bar {
   height: 40px;

   border-bottom: 1px solid #EDF2F4;

   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;

   color: #312f2f;

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   box-sizing: border-box;
   z-index: 45;

   .left-bar {
      // width: 190px;
      display: flex;
      align-items: center;

      >.arrow {
         margin-left: 10px;
         cursor: pointer;
      }

      >h4 {
         margin-left: 15px;
      }
   }

   .right-bar {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      cursor: pointer;
   }
}

.workspace-bar {
   @extend .top-bar;
   display: flex;
   align-items: center;
   gap: 12px;
   justify-content: flex-start;

   .box {
      min-width: 24px;
      min-height: 24px;

      border-radius: 6px;
      background-size: contain;
      background-position: center;
   }

   .title {
      font-family: Inter;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #312F2F;
   }

   margin-bottom: 15px;
}

.menus {
   width: 207px;
   margin-left: #{24 - 3}px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 38px;
}
.block {
   width: 100%;
}

.pages {
   .page {
      >span {
         font-weight: 400;
      }

      >.icon {
         &.page {
            background-image: url(./assets/page.icon.svg);
            margin-left: 3px;
         }

         &.arrow {
            background-image: url(./assets/arrow-menu.icon.svg);
            width: 10px;
            height: 10px;
            margin-left: 3px;
         }
      }

      position: relative;

      >.dotsIcon {
         width: 22px;
         height: 22px;
         background-image: url(./assets/triple-dots.icon.svg);
         background-position: center;
         background-repeat: no-repeat;
         border-radius: 4px;
         position: absolute;
         right: 3px;

         &:hover {
            background-color: #EDF2F4;
         }
      }
   }
}