.side-menu {
   width: 250px;
   min-width: 250px;
   display: flex;
   flex-direction: column;
   align-items: stretch;

   background: #f6f9fb;
   height: 100%;

   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;

   color: #51575e;

   border-right: 1px solid #d7dcdf;
}

.top-bar {
   height: 50px;

   border-bottom: 1px solid #d7dcdf;

   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;

   color: #312f2f;

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   box-sizing: border-box;

   .left-bar {
      // width: 190px;
      display: flex;
      align-items: center;

      >.arrow {
         margin-left: 10px;
         cursor: pointer;
      }

      >h4 {
         margin-left: 15px;
      }
   }

   .right-bar {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      cursor: pointer;

      .options-icon {
         // width: 24px;
         // height: 24px;
         display: flex;
         justify-content: center;
         align-items: center;

         >svg {
            width: 24px;
            height: 24px;
            stroke: #2c3e50 !important;
         }
      }
   }
}

.workspace-bar {
   @extend .top-bar;
   display: flex;
   align-items: center;
   background: #f6f9fb;
   gap: 12px;
   justify-content: flex-start;

   .box {
      min-width: 24px;
      min-height: 24px;

      // background: #007aff;
      border-radius: 6px;
      background-size: contain;
      background-position: center;

      // margin-left: 24px;
   }

   .title {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #312f2f;
   }

   margin-bottom: 15px;
}

.menus {
   width: 207px;
   // margin: 0 auto;
   margin-left: #{24 - 3}px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 38px;
}

.controls {
   .icon.search {
      background-image: url(./assets/search.icon.svg);
   }

   .icon.settings {
      background-image: url(./assets/settings.icon.svg);
   }

   .icon.trash {
      background-image: url(./assets/delete.icon.svg);
   }
}

.item-highlighed {
   background-color: #edf2f4;
   border-radius: 6px;
}

.item {
   box-sizing: border-box;

   display: flex;
   align-items: center;
   padding-left: 3px;

   height: 28px;
   width: 207px;

   cursor: pointer;

   &:hover {
      @extend .item-highlighed;
   }

   >.icon {
      width: 15px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }

   >span {
      margin-left: 8px;
      font-weight: 500;
      text-transform: capitalize;
   }
}

.item-disabled {
   color: #d3d3d3;
   pointer-events: none;
   //  > .icon {

   //  }
}

.block {
   width: 100%;

   .name {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: #9ca5ab;
      margin-bottom: 8px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
         width: 24px;
         height: 24px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;

         >svg {
            width: 16px;
            height: 16px;
            stroke: #9ca5ab !important;
         }

         &:hover>svg {
            stroke: #4281fa !important;
            fill: #4281fa !important;
         }
      }
   }
}

.pages {
   .page {
      >span {
         font-weight: 400;
      }

      >.icon {
         &.page {
            background-image: url(./assets/page.icon.svg);
            margin-left: 3px;
         }

         &.arrow {
            background-image: url(./assets/arrow-menu.icon.svg);
            width: 10px;
            height: 10px;
            margin-left: 3px;
         }
      }

      position: relative;

      >.dotsIcon {
         width: 22px;
         height: 22px;
         background-image: url(./assets/triple-dots.icon.svg);
         background-position: center;
         background-repeat: no-repeat;
         border-radius: 4px;
         position: absolute;
         right: 3px;

         &:hover {
            background-color: #d7dcdf;
         }
      }

      // &.item-highlighed {
      //    padding-left: #{3 + 15 + 8 + 5}px;
      //    background-image: url(./assets/page.icon.svg), url(./assets/arrow.icon.svg);
      //    background-position: 10px center;
      // }
   }
}