[Unit]
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=200

[Service]
Type=simple
WorkingDirectory=/home/foxpro/deployment/bloki.app/api
ExecStart=/home/foxpro/deployment/bloki.app/api/api
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
