[Unit]
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=200

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/master.bloki.app/api
ExecStart=/home/deploy/master.bloki.app/api/api
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
