[Unit]
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=90

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/bloki-next/api
ExecStart=/home/deploy/bloki-next/api/bloki
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
