[Unit]
After=network.target

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/bloki-next/api
ExecStart=./bloki
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target