[Unit]
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=120

[Service]
Type=simple
WorkingDirectory=/home/foxpro/deployment/old.bloki.app/
ExecStart=/usr/bin/node -r @swc-node/register ./server/index.ts
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
