@use "@/components/side-menu/side-menu.module.scss";

.main {
   width: 100vw;
   height: 100vh;
   display: flex;
   overflow: hidden;
   position: absolute;
}

.workspace {
   height: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
   position: relative;

   >div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 15px;

      .arrow {
         width: 15px;
         height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;

         &:nth-child(1) {
            background-image: url("@/components/side-menu/assets/arrow.icon.svg");
            transform: rotate(180deg);
         }

         &:nth-child(2) {
            background-image: url("@/components/side-menu/assets/arrow.icon.svg");
         }
      }

      h4 {
         font-family: Inter;
         font-style: normal;
         font-weight: 500;
         font-size: 14px;
         line-height: 16px;

         color: #312F2F;
      }
   }
}

.ask-name {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #FFFFFF;
   border: 1px solid #D7DCDF;
   box-sizing: border-box;
   box-shadow: 0px 54px 103px rgba(0, 0, 0, 0.03), 0px 22.5599px 43.0309px rgba(0, 0, 0, 0.0215656), 0px 12.0616px 23.0064px rgba(0, 0, 0, 0.0178832), 0px 6.76164px 12.8972px rgba(0, 0, 0, 0.015), 0px 3.59106px 6.84961px rgba(0, 0, 0, 0.0121168), 0px 1.49432px 2.85027px rgba(0, 0, 0, 0.00843437);
   border-radius: 4px;

   width: 500px;
   height: 240px;

}