@use 'sass:math';
@import './vars.scss';
@import './fonts.scss';

body,
html {
   all: initial;
   font-family: $font-family--default;
}
.button {
   outline: none;
   border: none;
   cursor: pointer;
   background: $color-accent1;
   border-radius: 7px;
   color: #ffffff;
   text-align: center;
   padding: 11px 17px;
   &:disabled {
      background: $color-accent1-semi;
      cursor: not-allowed;
   }
}
.text-input-group {
   max-width: 360px;
   position: relative;
   label {
      display: block;
      @include text-description1;
      font-weight: 500;
      margin-bottom: 8px;
   }
   input.text-input {
      all: initial;
      box-sizing: border-box;
      height: 41px;
      padding-left: 12px;
      padding-right: 26px;
      width: 100%;
      border: 0.5px solid $color-sec-grid;
      border-radius: 4px;
      // @include text(12px, '', 600);
      &::placeholder {
         color: $color-sec-grid;
      }
      &:hover:not(&:focus):not(&:disabled) {
         border-color: $color-accent1-semi;
      }
      &:focus {
         border-color: $color-accent1;
      }
      &:disabled {
         background: #d7dcdf0a;
         color: rgba($color: $color-text-regular, $alpha: 0.7);
         cursor: not-allowed;
      }
   }
   .reset {
      position: absolute;
      bottom: 14px;
      right: 11px;
      cursor: pointer;
   }
}
input[type='range'] {
   $color-bg: #d7dcdf;
   $color-active: #FFC632;
   $track-height: 4px;
   $thumb-height: 16px;
   $thumb-border-radius: 2px;
   -webkit-appearance: none;
   accent-color: $color-active;
   margin: 2px 0;
   width: 170px;
   box-sizing: border-box;
   &::-moz-range-thumb {
      background-color: $color-active;
      border-radius: $thumb-border-radius;
      border: none;
      width: $thumb-height;
      height: $thumb-height;
   }
   &::-moz-range-track {
      background-color: $color-bg;
      height: $track-height;
   }
   &::-moz-range-progress {
      background-color: $color-active;
      height: $track-height;
   }
   &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background-color: $color-bg;
      height: $track-height;
      border-radius: 2px;
      margin-top: math.div($track-height, 2);
   }
   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      width: $thumb-height;
      height: $thumb-height;
      background: $color-active;
      border-radius: $thumb-border-radius;
      margin-top: math.div($track-height, 2) - math.div($thumb-height, 2);
   }
}
.page {
   width: 100%;
   position: absolute;
   &.colored {
      background: orange;
   }
}
hr {
   border-color: $color-sec-grid;
   border-style: solid;
   margin: initial;
   padding: initial;
   border-width: 0;
   height: 1px;
   background: #E9EAEA;
}
.top-bar {
   height: 40px;
   border-bottom: 1px solid #edf2f4;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   box-sizing: border-box;
   z-index: 45;
   min-width: 600px;
}
.items {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   &.bottom-line {
      padding-bottom: 18px;
      border-bottom: 1px solid #EDF2F4;
   }
   .name {
      @include text(12px, $color-text-description1, 600);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
         width: 24px;
         height: 24px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         > svg {
            width: 16px;
            height: 16px;
            stroke: #9ca5ab !important;
         }
         &:hover > svg {
            stroke: #4281fa !important;
            fill: #4281fa !important;
         }
      }
   }
   .item {
      height: 28px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      margin-left: -9px;
      padding-left: 9px;
      box-sizing: border-box;
      width: 208px;
      @include text-regular();
      font-weight: 600;
      .icon {
         padding-left: initial;
         width: 15px;
         height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
         color: $color-text-regular;
      }
      &.highlighted {
         background: #EAEAEA;
         span {
            color: #312F2F;
         }
         .icon {
            color: #312F2F;
         }
      }
      &.disabled {
         pointer-events: none;
         .text {
            color: #d3d3d3;
         }
         .icon {
            color: #d3d3d3;
         }
      }
      &:hover {
         background: #EAEAEA;
      }
      &.red {
         color: #FF6161;
      }
   }
   .name + .item {
      margin-top: 9px;
   }
}
