@use 'sass:math';
@use 'sass:map';
@use 'sass:list';
@import '@/styles/vars.scss';
@import '@/styles/fonts.scss';

body,
html {
   all: initial;
   font-family: $font-family--default;
}
@each $theme, $colors in $color-map {
   .theme.#{$theme} {
      @for $i from 1 through list.length($colors) {
         $color: list.nth($colors, $i);
         --color-#{$i}: #{$color};
      }
   }
}

h4 {
   @include text(16px, var(--color-3), 600);
}

.button {
   outline: none;
   border: none;
   cursor: pointer;
   background: $color-primary-orange-900;
   border-radius: 7px;
   color: var(--color-1);
   text-align: center;
   padding: 11px 17px;
   &:disabled {
      background: $color-primary-orange-200;
      cursor: not-allowed;
   }
}
.text-input-group {
   max-width: 360px;
   position: relative;
   label {
      display: block;
      @include text-description1;
      font-weight: 500;
      margin-bottom: 8px;
   }
   input.text-input {
      all: initial;
      box-sizing: border-box;
      height: 41px;
      padding-left: 12px;
      padding-right: 26px;
      width: 100%;
      border: 0.5px solid $color-gray-600;
      border-radius: 4px;
      &::placeholder {
         color: $color-gray-600;
      }
      &:hover:not(&:focus):not(&:disabled) {
         border-color: $color-primary-orange-200;
      }
      &:focus {
         border-color: $color-primary-orange-900;
      }
      &:disabled {
         background: $color-gray-600;
         color: rgba($color: var(--color-3), $alpha: 0.7);
         cursor: not-allowed;
      }
   }
   .reset {
      position: absolute;
      bottom: 14px;
      right: 11px;
      cursor: pointer;
   }
}
fieldset {
   padding: 0;
   border: none;
   legend {
      padding: 0;
      margin-bottom: 24px;
      @include text(16px, var(--color-3), 600);
   }
   & + fieldset {
      margin-top: 32px;
   }
}
input[type='range'] {
   $color-bg: $color-gray-600;
   $color-active: #ffc632;
   $track-height: 4px;
   $thumb-height: 16px;
   $thumb-border-radius: 2px;
   -webkit-appearance: none;
   accent-color: $color-active;
   margin: 2px 0;
   width: 170px;
   box-sizing: border-box;
   &::-moz-range-thumb {
      background-color: $color-active;
      border-radius: $thumb-border-radius;
      border: none;
      width: $thumb-height;
      height: $thumb-height;
      cursor: pointer;
   }
   &::-moz-range-track {
      background-color: $color-bg;
      height: $track-height;
   }
   &::-moz-range-progress {
      background-color: $color-active;
      height: $track-height;
   }
   &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background-color: $color-bg;
      height: $track-height;
      border-radius: 2px;
      margin-top: math.div($track-height, 2);
   }
   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      width: $thumb-height;
      height: $thumb-height;
      background: $color-active;
      border-radius: $thumb-border-radius;
      margin-top: math.div($track-height, 2) - math.div($thumb-height, 2);
   }
}
.page {
   width: 100%;
   position: absolute;
   &.colored {
      background: orange;
   }
}
hr {
   border-color: $color-gray-600;
   border-style: solid;
   margin: initial;
   padding: initial;
   border-width: 0;
   height: 1px;
   background: #e9eaea;
}
.top-bar {
   height: 40px;
   border-bottom: 1px solid #edf2f4;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   box-sizing: border-box;
   z-index: 45;
   min-width: 600px;
}

.items {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 2px;
   &.bottom-line {
      padding-bottom: 18px;
      border-bottom: 1px solid #edf2f4;
   }
   .name {
      @include text(12px, var(--color-2), 600);
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      .icon {
         width: 24px;
         height: 24px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         > svg {
            width: 16px;
            height: 16px;
            stroke: var(--color-2) !important;
         }
         &:hover > svg {
            stroke: #4281fa !important;
            fill: #4281fa !important;
         }
      }
   }
   .item {
      height: 28px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      margin-left: -9px;
      padding-left: 9px;
      box-sizing: border-box;
      width: 208px;
      @include text-regular();
      font-weight: 600;
      .icon {
         padding-left: initial;
         width: 15px;
         height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
         color: var(--color-3);
      }
      &.highlighted {
         background: var(--color-4);
         span {
            color: #312f2f;
         }
         .icon {
            color: #312f2f;
         }
      }
      &.disabled {
         pointer-events: none;
         .text {
            color: #d3d3d3;
         }
         .icon {
            color: #d3d3d3;
         }
      }
      &:hover {
         background: var(--color-4);
      }
      &.red {
         color: #ff6161;
      }
   }
   .name + .item {
      margin-top: 9px;
   }
}
