@use 'sass:math';
@import '@/styles/vars.scss';

fieldset {
   padding: 0;
   border: none;
   legend {
      padding: 0;
      margin-bottom: 24px;
      @include text(16px, $color-text-item, 600);
   }
   & + fieldset {
      margin-top: 32px;
   }
}

input[type='range'] {
   $color-bg: $color-gray-600;
   $color-active: #ffc632;
   $track-height: 4px;
   $thumb-height: 16px;
   $thumb-border-radius: 2px;
   -webkit-appearance: none;
   accent-color: $color-active;
   margin: 2px 0;
   width: 170px;
   box-sizing: border-box;
   background: transparent;
   &::-moz-range-thumb {
      background-color: $color-active;
      border-radius: $thumb-border-radius;
      border: none;
      width: $thumb-height;
      height: $thumb-height;
      cursor: pointer;
   }
   &::-moz-range-track {
      background-color: $color-bg;
      height: $track-height;
   }
   &::-moz-range-progress {
      background-color: $color-active;
      height: $track-height;
   }
   &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background-color: $color-bg;
      height: $track-height;
      border-radius: 2px;
      margin-top: math.div($track-height, 2);
   }
   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      width: $thumb-height;
      height: $thumb-height;
      background: $color-active;
      border-radius: $thumb-border-radius;
      margin-top: math.div($track-height, 2) - math.div($thumb-height, 2);
   }
}
.text-input-group {
   max-width: 360px;
   position: relative;
   label {
      display: block;
      @include text-description1;
      font-weight: 500;
      margin-bottom: 8px;
   }
   input.text-input {
      all: initial;
      box-sizing: border-box;
      height: 41px;
      padding-left: 12px;
      padding-right: 26px;
      width: 100%;
      border: 0.5px solid $color-gray-600;
      border-radius: 4px;
      &::placeholder {
         color: $color-gray-600;
      }
      &:hover:not(&:focus):not(&:disabled) {
         border-color: $color-primary-orange-200;
      }
      &:focus {
         border-color: $color-primary-orange-900;
      }
      &:disabled {
         background: $color-gray-600;
         // color: rgba($color: $color, $alpha: 0.7);
         cursor: not-allowed;
      }
   }
   .reset {
      position: absolute;
      bottom: 14px;
      right: 11px;
      cursor: pointer;
   }
}

// .button {
//    outline: none;
//    border: none;
//    cursor: pointer;
//    background: $color-primary-orange-900;
//    border-radius: 7px;
//    color: var(--color-1);
//    text-align: center;
//    padding: 11px 17px;
//    &:disabled {
//       background: $color-primary-orange-200;
//       cursor: not-allowed;
//    }
// }
