/* @font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-100.woff2) format("woff2");
 }
*/

/* @font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-300.woff2) format("woff2");
 }*/

/* @font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 200;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-200.woff2) format("woff2");
 }
*/

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-500.woff2) format("woff2");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-regular.woff2) format("woff2");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-600.woff2) format("woff2");
}

/*@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-700.woff2) format("woff2");
 }

 @font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-800.woff2) format("woff2");
 }

 @font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url(../assets/fonts/inter-v8-latin_cyrillic-900.woff2) format("woff2");
 }*/


@font-face {
	font-family: 'Consolas';
	src: url(../assets/fonts/Consolas.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Consolas';
	src: url(../assets/fonts/Consolas-BoldItalic.woff2) format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Consolas';
	src: url(../assets/fonts/Consolas-Bold.woff2) format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Consolas';
	src: url(../assets/fonts/Consolas-Italic.woff2) format('woff2');
	font-weight: normal;
	font-style: italic;
}