$color-accent1: #ffa61f;
$color-accent1-semi: #f8dcb2;

$color-sec-grid: #d7dcdf;

$color-text-regular: #51575E;
$color-text-description1: #9ca5ab;
$color-text-description2: #d7dcdf;

$font-family--default: 'Inter';
$font-family--handwrited: 'Virgil';

@mixin text($font-size: 14px, $color: $color-text-regular, $font-weight: normal) {
   font-size: $font-size;
   color: $color;
   font-weight: $font-weight;
}

@mixin text-regular() {
   font-size: 14px;
   color: $color-text-regular;
}

@mixin text-description1() {
   font-size: 14px;
   color: $color-text-description1;
}

@mixin text-description2() {
   font-size: 14px;
   font-weight: 400;
   color: $color-text-description2;
}
