.blocked-text {
   overflow-wrap: break-word;
}

.code-block {
   display: block;
   width: 100%;
   height: 100%;
   box-sizing: border-box;

   @extend .blocked-text;

   // CHROME HACK
   backface-visibility: hidden;

   font-family: Consolas;
   &:focus {
      outline: 0;
   }

   -webkit-user-drag: none;

   &.show-placeholder {
      &::after {
         cursor: text;
         content: attr(data-placeholder);
         // caret-color: rgb(55, 53, 47, 0.5);
         color: rgb(55, 53, 47, 0.5);
         line-height: normal;
         font-size: 14px;
         position: absolute;
         top: 0;
         left: 0;
         word-break: keep-all;
         white-space: nowrap;
         overflow-wrap: normal;
      }
   }

   &.shadow {
      color: #e0e0e0 !important;
   }

   &.overflowing {
      color: #c5c9d2 !important;
   }
}

.measurer {
   position: fixed;
   background: rgba(169, 70, 70, 0.528);
   z-index: 900;
   bottom: 0;
   pointer-events: none;
   @extend .blocked-text;
}