.draggable {
   // causes some artifacts in chrome. possibly cause of overlay or outline
   will-change: transform;
}

.block {
   z-index: 10;
   // border-left: 5px dashed red;
   // border-radius: 2px;

   position: absolute;
   box-sizing: border-box;
   /* repeat */

   &:hover {
      .handy {
         fill: #9ca5ab;
      }
   }

   &.selected {
      z-index: 25;

      border-radius: 2px;
      outline: 1px solid #E9E9E9;
      outline-offset: 5px;

      .handy {
         fill: #9ca5ab;
      }
   }

   &.dragging {
      // background: rgba(201, 64, 64, 0.637);
      cursor: grabbing;
      user-select: none;

      .handy {
         fill: #7597ff;
      }
   }

   &.resizing {
      user-select: none;

      .sizedot {
         background: #4281fa !important;
      }
   }

   .overlay {
      position: absolute;
      inset: 0px;
   }
}

.block .controls {
   position: absolute;
   width: calc(100% + 12px);
   height: calc(100% + 12px);
   transform: translate(-6px, -6px);

   // I'm too lazy to make array and iterate here
   .edge,
   .vert {
      position: absolute;
      fill: none;
   }

   .vert {
      stroke-width: 2;
      stroke: #FFA61F;

      &.show-resize-areas {
         background: rgba(255, 0, 0, 0.2);
      }

      &.nw {
         cursor: nwse-resize;
         transform: translate(11px, 1px);
      }

      &.ne {
         cursor: nesw-resize;
         transform: translate(calc(100% - 11px), 1px);
      }

      &.se {
         cursor: nwse-resize;
         transform: translate(calc(100% - 11px), calc(100% - 1px));
      }

      &.sw {
         cursor: nesw-resize;
         transform: translate(1px, calc(100% - 11px));
      }
   }

   .edge {
      stroke: #FFA61F;
      stroke-width: 2px;
      // stroke-linecap: round;

      &.show-resize-areas {
         background: rgba(0, 0, 255, 0.199);
      }

      &.n {
         cursor: ns-resize;
         transform: translate(calc(50% - 11px), 1px);
      }

      &.s {
         cursor: ns-resize;
         transform: translate(calc(50% - 11px), calc(100% - 1px));
      }

      &.e {
         cursor: ew-resize;
         transform: translate(calc(100% - 1px), calc(50% - 11px));
      }

      &.w {
         cursor: ew-resize;
         transform: translate(1px, calc(50% - 11px));
      }
   }
}

.handy-block {
   width: 24px;
   height: 30px;
   border-radius: 4px;
   transition: background 100ms linear;
   position: absolute;
   top: 0px;
   left: -30px;

   &:hover {
      background: #d1ecfe;
   }

   display: flex;
   justify-content: center;
   align-items: center;

   .handy {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: fill 130ms linear;
      fill: transparent;

      &:hover {
         fill: #18a0fb !important;
      }
   }
}
