@use 'sass:math';
@import '@/styles/vars.scss';

.draggable {
   // causes some artifacts in chrome. possibly cause of overlay or outline
   will-change: transform;
}
.block {
   z-index: 10;
   position: absolute;
   box-sizing: border-box;
   .overlay {
      position: absolute;
      inset: 0px;
   }
   // CONTROLS
   $stroke-width: 2px;
   $stroke-color: #ffa61f;
   $touch-area: 6px;
   $border-offset: 4px;
   &.selected::after {
      position: absolute;
      content: '';
      inset: -$border-offset;
      border: 1px solid #e9e9e9;
      border-radius: 3px;
      z-index: -1;
   }
   .edge, .vert {
      position: absolute;
      fill: none;
      > path {
         stroke-linecap: round;
         stroke-width: $stroke-width;
         stroke: $stroke-color;
      }
      // &.debug {
      //    background: rgba(255, 0, 0, 0.2);
      // }
   }
   .vert {
      $vert-size: 12px;
      $size: $vert-size + $touch-area;
      position: absolute;
      width: $size;
      height: $size;
      $vert-total-offset: -$border-offset - $touch-area - math.div($stroke-width, 2);
      &.nw {
         left: $vert-total-offset;
         top: $vert-total-offset;
         cursor: nwse-resize;
         > path {
            transform: translate($touch-area, $touch-area);
         }
      }
      &.ne {
         right: $vert-total-offset;
         top: $vert-total-offset;
         cursor: nesw-resize;
         > path {
            transform: translateY($touch-area);
         }
      }
      &.se {
         right: $vert-total-offset;
         bottom: $vert-total-offset;
         cursor: nwse-resize;
      }
      &.sw {
         left: $vert-total-offset;
         bottom: $vert-total-offset;
         cursor: nesw-resize;
         > path {
            transform: translateX($touch-area);
         }
      }
   }
   .edge {
      margin: auto;
      $edge-total-offset: -$border-offset - $touch-area - math.div($stroke-width, 2);
      &.n, &.s {
         height: 2px + $touch-area;
         width: 26px;
         left: 0;
         right: 0;
      }
      &.w, &.e {
         width: 2px + $touch-area;
         height: 26px;
         top: 0;
         bottom: 0;
      }
      &.w {
         left: $edge-total-offset;
         cursor: ew-resize;
         > path {
            transform: translateX($touch-area);
         }
      }
      &.n {
         top: $edge-total-offset;
         cursor: ns-resize;
         > path {
            transform: translateY($touch-area);
         }
      }
      &.e {
         right: $edge-total-offset;
         cursor: ew-resize;
      }
      &.s {
         bottom: $edge-total-offset;
         cursor: ns-resize;
      }
   }
   &:hover {
      .handy {
         fill: $color-gray-700;
      }
   }
   &.selected {
      z-index: 25;
      .handy {
         fill: $color-gray-700;
      }
   }
   &.dragging {
      cursor: grabbing;
      z-index: 25;
      user-select: none;
      .handy {
         fill: #7597ff;
      }
   }
   &.resizing {
      user-select: none;
      .sizedot {
         background: #4281fa !important;
      }
   }
}
.handy-block {
   width: 24px;
   height: 30px;
   border-radius: 4px;
   transition: background 100ms linear;
   position: absolute;
   top: 0px;
   left: -30px;
   &:hover {
      background: #d1ecfe;
   }
   display: flex;
   justify-content: center;
   align-items: center;
   .handy {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: fill 130ms linear;
      fill: transparent;
      &:hover {
         fill: #18a0fb !important;
      }
   }
}
