@use '@/assets/styles/framework.scss';

.workspace {
   height: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
   position: relative;

   >div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 15px;

      .arrow {
         width: 15px;
         height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;

         &:nth-child(1) {
            background-image: url("@/components/side-menu/assets/arrow.icon.svg");
            transform: rotate(180deg);
         }

         &:nth-child(2) {
            background-image: url("@/components/side-menu/assets/arrow.icon.svg");
         }
      }

      h4 {
         font-family: Inter;
         font-style: normal;
         font-weight: 500;
         font-size: 14px;
         line-height: 16px;

         color: #312F2F;
      }
   }

   .left-bar {
      display: flex;
      align-items: center;

      >.arrow {
         margin-left: 10px;
         cursor: pointer;
      }

      >h4 {
         margin-left: 15px;
      }
   }

   .right-bar {
      gap: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .share {
         width: 59px;
         height: 28px;
         margin-left: 4px;
      }
   }

}