@use 'sass:math';
@use 'sass:map';
@use 'sass:list';
@import '@/styles/vars.scss';
@import '@/styles/fonts.scss';
@import './_controls.scss';
@import './_primitives.scss';

@each $theme in (light, dark) {
   .theme.#{$theme} {
      @each $purpose, $color-map in $theme-map {
         $color: map.get($color-map, $theme);
         --color-#{$purpose}: #{$color};
      }
   }
}
html {
   &::-webkit-scrollbar {
      appearance: none;
      width: 8px;
   }
   &::-webkit-scrollbar-thumb {
      background: $color-primary-orange-900;
   }
   scrollbar-width: auto;
   scrollbar-color: $color-primary-orange-900 transparent;
}
body {
   font-family: $font-family-default;
   margin: 0;
   // background-color: $color-bg-main;
   &.switch-theme *:not(img, video) {
      transition: background-color 100ms ease, color 100ms ease;
   }
}
* {
   box-sizing: border-box;
}
.page {
   &.colored {
      background: orange;
   }
}
h4 {
   @include text(16px, $color-text-main, 600);
}
a {
   text-decoration: unset;
   color: unset;
}
hr {
   border-color: $color-border;
   border-style: solid;
   margin: initial;
   padding: initial;
   border-width: 0;
   height: 1px;
   background: $color-border;
}

.items {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 2px;
   &.bottom-line {
      padding-bottom: 18px;
      border-bottom: 1px solid $color-border;
   }
   .name {
      @include text(12px, $color-item-secondary, 600);
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      .icon {
         width: 24px;
         height: 24px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         > svg {
            width: 16px;
            height: 16px;
            stroke: var(--color-2) !important;
         }
         &:hover > svg {
            stroke: #4281fa !important;
            fill: #4281fa !important;
         }
      }
   }
   .item {
      height: 28px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      margin-left: -9px;
      padding-left: 9px;
      box-sizing: border-box;
      width: 208px;
      color: $color-text-item;
      font-weight: 600;
      .icon {
         padding-left: initial;
         width: 15px;
         height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
         color: $color-text-item;
      }
      &.highlighted {
         background: $color-bg-item-highlighted;
         span {
            color: $color-text-item;
         }
         .icon {
            color: $color-text-item;
         }
      }
      &.disabled {
         pointer-events: none;
         .text {
            color: $color-item-secondary;
         }
         .icon {
            color: $color-item-secondary;
         }
      }
      &:hover {
         background: $color-bg-item-highlighted;
      }
      // &.red {
      //    color: $color-;
      // }
   }
   .name + .item {
      margin-top: 9px;
   }
}
