@import '@/styles/vars.scss';

.workspace {
   height: 100%;
   display: flex;
   flex-direction: column;
   position: relative;

   .top-bar {
      height: 40px;
      background: $color-bg-main;
      border-bottom: 1px solid $color-border;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;
      z-index: 45;
      min-width: 600px;
   }
   > div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 15px;

      .arrow {
         width: 15px;
         height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;

         &:nth-child(1) {
            background-image: url('@/modules/side-menu/assets/arrow.svg');
            transform: rotate(180deg);
         }

         &:nth-child(2) {
            background-image: url('@/modules/side-menu/assets/arrow.svg');
         }
      }
   }

   .left-bar {
      display: flex;
      align-items: center;

      > .arrow {
         margin-left: 10px;
         cursor: pointer;
      }
   }
   .doc-title {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .status {
         font-size: 10px;
         color: red;

         &.connected {
            color: #4281fa;
         }
      }
   }

   .right-bar {
      gap: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .share {
         width: 59px;
         height: 28px;
         margin-left: 4px;
      }
   }
}
