@use "sass:math";
@import "./confg.scss";

$main-grid-width: grid-size($main-grid-width-factor);
$foreground-grid-width: grid-size($foreground-grid-width-factor);

.container {
   // position: relative;
   // overflow-y: auto;
   // overflow-x: hidden;
   position: absolute;
   background-attachment: local;
}

.grid {
   z-index: 0;
   position: absolute;
   opacity: 0.8;
   background-position: 0 0, 15px 15px;
   background-size: 30px 30px;
}

.main-grid {
   background: rgba(128, 128, 128, 0.507);
}
.foreground-grid {
   display: initial;
}

