@use "sass:math";
@import "./confg.scss";

$main-grid-width: grid-size($main-grid-width-factor);
$foreground-grid-width: grid-size($foreground-grid-width-factor);

.container {
   position: relative;
   height: grid-size(30);
   width: $foreground-grid-width;
   overflow-y: auto;
   overflow-x: hidden;
   background-image: repeating-linear-gradient(
         0deg,
         #dadada60 0 $grid-cell-size,
         transparent 0 $grid-cell-size + $grid-cell-gap
      ),
      repeating-linear-gradient(90deg, #dadada60 0 $grid-cell-size, transparent 0 $grid-cell-size + $grid-cell-gap);
   background-attachment: local;
}

.grid {
   z-index: 0;
   position: absolute;
   height: grid-size(50);
   opacity: 0.8;
   background-position: 0 0, 15px 15px;
   background-size: 30px 30px;
}

.main-grid {
   $d: #{math.div($foreground-grid-width - $main-grid-width, 2)};
   width: $main-grid-width;
   background: rgba(128, 128, 128, 0.507);
   margin: 0 $d;
}
.foreground-grid {
   width: $foreground-grid-width;
}

.block {
   background: red;
   width: 250px;
   height: grid-size(4);
   z-index: 10;
   user-select: none;
}
