@import '@/styles/vars.scss';

.theme-light {
   --page-bg-color: #fafafa;
   --text-regular-color: #000000;
   --text-description-color: #2c2c2c;
   --feature-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
   --bg-bricks-color: #FAF3F3;
}

.theme-dark {
   --page-bg-color: #31373E;
   --text-regular-color: #ffffff;
   --text-description-color: #FFFFFF;
   --feature-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
   --bg-bricks-color: #30353B;
}

.page.landing {
   $content-width: 1305px;
   background-color: var(--page-bg-color);
   color: var(--text-regular-color);
   overflow: hidden;

   > .page-content {
      z-index: 2;
      margin: 0 auto;
      max-width: $content-width;
      position: relative;
   }

   > .background-bricks {
      position: absolute;
      color: var(--bg-bricks-color);
      z-index: 1;

      &:nth-child(1) {
         top: 50vh;
      }

      &:nth-child(2) {
         top: 250vh;
      }

      &:nth-child(3) {
         top: 400vh;
      }
   }

   .decoration {
      position: absolute;
      pointer-events: none;

      &.intro__place-word {
         top: -5px;
         left: 30%;
      }

      &.intro__all-word {
         left: 0;
         bottom: -20px;
      }

      &.fs__structure-word {
         left: -30px;
         bottom: -10px;
      }

      &.workspaces__workspaces-word {
         bottom: -30px;
      }

      &.teams__team-word {
         top: -20px;
         left: -30px;
      }

      &.libs__libraries-word {
         left: 0;
         bottom: -20px;
      }

      &.templates-and-plugins {
         left: 0;
         bottom: -10px;
      }

      &.smile {
         right: -90px;
      }
   }

   .mark {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      transition: stroke-dashoffset 1.5s;
   }

   .page-header {
      height: 82px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;

      > .logo {
         cursor: pointer;
      }

      > .items-container {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 30px;

         > .login {
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
         }

         > .try {
            font-size: 14px;
         }

         > .change-theme {
            cursor: pointer;
            color: var(--text-regular-color);
         }
      }
   }

   section {
      width: 100%;
      margin-top: 26px;
      margin-bottom: 26px;
   }

   section.feature {
      margin-top: 260px;
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: center;
      justify-content: center;
      gap: 96px;

      > .demo {
         flex: 1;
         width: 100%;
         min-width: 500px;
         max-width: 90vw;
         max-height: 400px;

         border-radius: 11px;
         box-shadow: var(--feature-shadow);
      }

      > .text {
         width: 370px;

         > .heading {
            font-family: $font-family--handwrited;
            font-size: 54px;
            position: relative;
         }

         > .description {
            margin-top: 40px;
            font-size: 24px;
            color: var(--text-description-color);
         }
      }

      &:nth-child(2n+1) {
         flex-direction: row-reverse;
      }
   }

   .intro {
      margin: 45px auto;
      width: 570px;
      font-family: $font-family--handwrited;
      font-size: 64px;
      text-align: center;
      position: relative;
   }

   .interactive {
      width: 100%;
      background-color: $text-description2-color;
   }

   .outro {
      display: inline;
      margin-top: 220px;
      margin-bottom: 200px;
      font-family: $font-family--handwrited;
      font-size: 64px;
      display: block;
      text-align: center;

      > .start,
      > .end {
         display: inline;
         position: relative;
      }

      > .end {
         font-size: 48px;
         color: $accent1;
      }
   }

   footer {
      max-width: $content-width;
      margin: 0 auto;
      margin-bottom: 50px;
      display: flex;
      gap: 26px;
      flex-direction: column;

      > .navs {
         display: flex;
         flex: 3;
         justify-content: space-between;
         align-items: center;

         > nav {
            min-height: 150px;

            > h4 {
               font-size: 20px;
               font-weight: 600;
               color: var(--text-regular-color);
               // color: #31373E;
               display: flex;
               flex-direction: column;
            }

            > ul {
               list-style: none;
               margin: 0;
               padding: 0;

               > li {
                  color: var(--text-regular-color);
                  // color: #31373E;
                  text-decoration-line: underline;
                  font-size: 20px;
               }
            }
         }
      }
      .gh {
         color: var(--text-regular-color);
      }
   }
}
