.draggable {
   position: absolute;
   // causes some artifacts in chrome. possibly cause of overlay or outline
   will-change: transform;
}

.block {
   z-index: 10;
   outline: 1px solid transparent;
   border-radius: 4px;

   &:hover {
      > .handy {
         fill: #e6e5e6;
      }
   }
   &.selected {
      outline-color: #4281fa;
      z-index: 25;
   }
   &.shadow {
      color: rgba(0, 0, 0, 0.2);
      opacity: 0.5;
      > * {
         user-select: none;
      }
   }
   &.dragging {
      // border-color: #4281fa;
      cursor: grabbing;
   }
   &.resizing {
      .sizedot {
         background: #4281fa !important;
      }
      .vert,
      .edge {
         cursor: none !important;
      }
   }
   .overlay {
      position: absolute;
      inset: 0px;
   }

   $area-size: 14px;
   $area-offset: -10px;
   // I'm too lazy to make array and iterate here
   .vert {
      position: absolute;
      width: $area-size - $area-offset;
      height: $area-size - $area-offset;
      // background: rgba(255, 0, 0, 0.212);
      &.nw {
         left: $area-offset;
         top: $area-offset;
         cursor: nw-resize;
      }
      &.ne {
         right: $area-offset;
         top: $area-offset;
         cursor: ne-resize;
      }
      &.se {
         right: $area-offset;
         bottom: $area-offset;
         cursor: se-resize;
      }
      &.sw {
         left: $area-offset;
         bottom: $area-offset;
         cursor: sw-resize;
      }
   }
   .edge {
      position: absolute;
      // background: rgba(0, 0, 255, 0.199);

      &.n {
         top: $area-offset;
         right: $area-size;
         left: $area-size;
         height: $area-size;
         cursor: n-resize;
      }
      &.s {
         bottom: $area-offset;
         right: $area-size;
         left: $area-size;
         height: $area-size;
         cursor: s-resize;
      }
      &.e {
         right: $area-offset;

         top: $area-size;
         bottom: $area-size;

         width: $area-size;
         cursor: e-resize;
      }
      &.w {
         left: $area-offset;

         top: $area-size;
         bottom: $area-size;

         width: $area-size;
         cursor: w-resize;
      }
   }
}
.handy {
   position: absolute;
   top: 3px;
   left: -21px;
   cursor: pointer;
   transition: fill 130ms linear;
   fill: transparent;

   &.dragging {
      fill: #7597ff !important;
   }
   &:hover {
      fill: #18a0fb;
   }
}

.dot-wrapper {
   // position: absolute;
   .sizedot {
      width: 5px;
      height: 5px;
      outline: 0.5px solid transparent;
      border-radius: 50%;
      background: #4281fa;
      transform-origin: center;
      transition: transform 100ms linear;

      &.expand {
         background: white;
         outline-color: #4281fa;
      }
   }
}
