.draggable {
   position: absolute;
   will-change: transform;
}

.block {
   z-index: 10;

   &:hover {
      > .handy {
         fill: #e6e5e6;
      }
   }
   .handy {
      position: absolute;
      top: 3px;
      left: -15px;
      cursor: pointer;
      transition: fill 130ms linear;
      fill: transparent;

      &.dragging {
         fill: #7597ff !important;
      }
      &:hover {
         fill: #18a0fb;
      }
   }
   &.shadow {
      color: rgba(0, 0, 0, 0.2);
      opacity: 0.5;
      > * {
         user-select: none;
      }
   }
   // .vert,
   // .edge {
   //    opacity: 1;
   // }
   // & > .vert:hover {
   //    opacity: 1;
   // }
   &.selected {
      .vert,
      .edge {
         opacity: 1;
      }
   }
   .vert,
   .edge {
      opacity: 0;
   }
   .vert {
      position: absolute;

      width: 5px;
      height: 5px;

      background: #ffffff;
      border: 0.5px solid #4281fa;
      box-sizing: border-box;

      $vert-margin: 3px;

      &:nth-of-type(1) {
         top: -3px;
         left: -3px;
         cursor: nwse-resize;
      }
      &:nth-of-type(2) {
         top: -3px;
         right: -3px;
         cursor: nesw-resize;
      }
      &:nth-of-type(3) {
         bottom: -3px;
         right: -3px;
         cursor: nwse-resize;
      }
      &:nth-of-type(4) {
         bottom: -3px;
         left: -3px;
         cursor: nesw-resize;
      }
   }
   .edge {
      position: absolute;
      background-color: #4281fa;

      &:nth-of-type(5) {
         width: 100%;
         height: 1px;
         // cursor: ns-resize;
      }
      &:nth-of-type(6) {
         right: 0;
         width: 1px;
         height: 100%;
         // cursor: ew-resize;
      }
      &:nth-of-type(7) {
         bottom: 0;
         width: 100%;
         height: 1px;
         // cursor: ns-resize;
      }
      &:nth-of-type(8) {
         width: 1px;
         height: 100%;
         // cursor: ew-resize;
      }
   }
   .borders {
      position: absolute;
      // width: 100%;
      // height: 100%;
   }
   &.dragging {
      // border-color: #4281fa;
      cursor: crosshair;
   }
}
