.ctx-menu {
   position: absolute;
   z-index: 55;
   padding: 5px;
   width: 196px;

   background: $color-bg-secondary;
   border: 1px solid $color-gray-600;
   box-sizing: border-box;
   box-shadow: 0px 54px 103px rgba(0, 0, 0, 0.03), 0px 22.5599px 43.0309px rgba(0, 0, 0, 0.0215656), 0px 12.0616px 23.0064px rgba(0, 0, 0, 0.0178832), 0px 6.76164px 12.8972px rgba(0, 0, 0, 0.015), 0px 3.59106px 6.84961px rgba(0, 0, 0, 0.0121168), 0px 1.49432px 2.85027px rgba(0, 0, 0, 0.00843437);
   border-radius: 8px;

   .name {
      margin-left: 3px;
      margin-bottom: 4px;
   }

   .block-items {
      &:not(:first-child) {
         margin-top: 5px;
      }
   }

   .items {
      display: flex;
      flex-direction: column;

      justify-content: space-evenly;

      box-sizing: border-box;

      .item > span.text {
         font-weight: 500;
      }

      .item.delete {
         color: #DA4929;

         &:hover {
            background: #FBEBE7;
         }
      }
   }
}
