/* inter-100 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 100;
   src: url(./inter-v8-latin_cyrillic-100.woff2) format("woff2");
}

/* inter-300 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 300;
   src: url(./inter-v8-latin_cyrillic-300.woff2) format("woff2");
}

/* inter-200 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 200;
   src: url(./inter-v8-latin_cyrillic-200.woff2) format("woff2");
}

/* inter-500 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   src: url(./inter-v8-latin_cyrillic-500.woff2) format("woff2");
}

/* inter-regular - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   src: url(./inter-v8-latin_cyrillic-regular.woff2) format("woff2");
}

/* inter-600 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   src: url(./inter-v8-latin_cyrillic-600.woff2) format("woff2");
}

/* inter-700 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 700;
   src: url(./inter-v8-latin_cyrillic-700.woff2) format("woff2");
}

/* inter-800 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 800;
   src: url(./inter-v8-latin_cyrillic-800.woff2) format("woff2");
}

/* inter-900 - latin */
@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 900;
   src: url(./inter-v8-latin_cyrillic-900.woff2) format("woff2");
}
