.toolbox {
   // height: 100%;

   z-index: 35;

   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-around;
   gap: 12px;
   padding: 0 12px;

   > svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
   }
}

.figures,
.tools,
.pickers {
   // flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;

   >svg {
      cursor: pointer;
   }
}

.vr {
   border: 2px solid #d7dcdf;
   height: 36px;
   width: 0px;
}

.picker {
   width: 24px;
   height: 24px;

   border: 2px solid #d7dcdf;
   box-sizing: border-box;
   border-radius: 50%;

   &.active {
      border-color: #4281fa;
   }

   display: flex;
   justify-content: center;
   align-items: center;

   .eyedrop {
      border-radius: 50%;
   }

   cursor: copy;
}