.items {
   width: 100%;
}

.item {
   box-sizing: border-box;

   display: flex;
   align-items: center;
   padding-left: 3px;

   height: 28px;
   width: 100%;

   cursor: pointer;

   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;

   color: #51575E;

   >.icon {
      width: 15px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }

   >span {
      margin-left: 8px;
      font-weight: 500;
      text-transform: capitalize;
   }

   border-radius: 6px;

   &.highlighted {
      background: #F6F9FB;
   }

   &.disabled {
      color: #d3d3d3;
      pointer-events: none;

      >.icon {
         fill: #d3d3d3;
         stroke: #d3d3d3;
      }
   }

   &:hover {
      background: #edf2f4;
   }
}

.name {
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   color: #9ca5ab;
   margin-bottom: 8px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   .icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      >svg {
         width: 16px;
         height: 16px;
         stroke: #9ca5ab !important;
      }

      &:hover>svg {
         stroke: #4281fa !important;
         fill: #4281fa !important;
      }
   }
}

input[type=range] {
   $bg: #D7DCDF;
   $active: #51575E;

   accent-color: $active;

   // &::-moz-range-track {
   //    background: $bg;
   // }
   // &::-moz-range-progress {
   //    // width: 100%;
   //    // height: 4px;
   //    // cursor: pointer;
   //    background: $active;
   //    // border-radius: 4px;
   // }
   // &::-moz-range-thumb {
   //    background: $active;
   // }

   // &::-webkit-slider-runnable-track {
   //    width: 100%;
   //    height: 4px;
   //    cursor: pointer;
   //    background: $bg;
   //    border-radius: 4px;
   // }

   // &::-webkit-slider-thumb {
   //    border: 0px solid #2497E3;
   //    height: 14px;
   //    width: 14px;
   //    border-radius: 18px;
   //    background: $bg;
   //    cursor: pointer;
   //    -webkit-appearance: none;
   //    margin-top: -5px;
   // }

   // &:focus::-webkit-slider-runnable-track {
   //    background: $bg;
   // }



   // &::-moz-range-thumb {
   //    border: 0px solid #2497E3;
   //    height: 14px;
   //    width: 14px;
   //    border-radius: 18px;
   //    background: $bg;
   //    cursor: pointer;
   // }
}