.block {
   width: 100%;

   .name {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: #9ca5ab;
      margin-bottom: 8px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
         width: 24px;
         height: 24px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;

         >svg {
            width: 16px;
            height: 16px;
            stroke: #9ca5ab !important;
         }

         &:hover>svg {
            stroke: #4281fa !important;
            fill: #4281fa !important;
         }
      }
   }
}

.items {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;

   .item {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding-left: 9px;
      height: 28px;
      width: 100%;
      cursor: pointer;
      border-radius: 6px;

      .icon {
         width: 15px;
         // height: 15px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
         color: #51575E;
      }

      .text {
         font-family: Inter;
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;

         color: #51575E;
         margin-left: 8px;
      }

      &.highlighted {
         background: #EAEAEA;

         span {
            color: #312F2F;
         }

         .icon {
            color: #312F2F;
         }
      }

      &.disabled {
         pointer-events: none;
         .text {
            color: #d3d3d3;
         }
         .icon {
            color: #d3d3d3;
         }
      }

      &:hover {
         background: #EAEAEA;
      }
   }
}

.top-bar {
   height: 40px;
   border-bottom: 1px solid #EDF2F4;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   box-sizing: border-box;
   z-index: 45;
}

input[type=range] {
   $bg: #D7DCDF;
   $active: #51575E;
   accent-color: $active;
}

input[type=text],
input[type=url] {
   all: initial;
   background: #EDF2F4;
   border: 1px solid #D7DCDF;
   box-sizing: border-box;
   border-radius: 8px;
   height: 40px;
   color: #312F2F;
   font-size: 16px;

   padding-left: 5px;

   &::placeholder {
      color: #a3a6a8;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
   }
}

button {
   outline: none;
   border: none;
   cursor: pointer;
   height: 40px;
   background: #417FF5;
   border-radius: 4px;

   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   color: #FFFFFF;
   text-align: center;

   &.inactive {
      background: #B5CBF3;
   }

   &:focus {
      background: #306fe3;
   }
}