.items {
   width: 100%;
}

.item {
   box-sizing: border-box;

   display: flex;
   align-items: center;
   padding-left: 3px;

   height: 28px;
   width: 100%;

   cursor: pointer;

   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;

   color: #51575E;

   >.icon {
      width: 15px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }

   >span {
      margin-left: 8px;
      font-weight: 500;
   }

   border-radius: 6px;

   &.highlighted {
      // background: #F6F9FB;
      background: #EAEAEA;
   }

   &.disabled {
      color: #d3d3d3;
      pointer-events: none;

      >.icon {

         // fill: #d3d3d3;
         // stroke: #d3d3d3;
         * {
            // fill: #d3d3d3;
            stroke: #d3d3d3;
         }
      }
   }

   &:hover {
      // background: #edf2f4;
      background: #EAEAEA;
   }
}

.name {
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   color: #9ca5ab;
   margin-bottom: 8px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   .icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      >svg {
         width: 16px;
         height: 16px;
         stroke: #9ca5ab !important;
      }

      &:hover>svg {
         stroke: #4281fa !important;
         fill: #4281fa !important;
      }
   }
}

input[type=range] {
   $bg: #D7DCDF;
   $active: #51575E;

   accent-color: $active;
}


input[type=text],
input[type=url] {
   all: initial;
   background: #EDF2F4;
   border: 1px solid #D7DCDF;
   box-sizing: border-box;
   border-radius: 8px;
   height: 40px;
   color: #312F2F;
   font-size: 16px;

   padding-left: 5px;
   &::placeholder {
      color: #a3a6a8;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
   }
}

button {
   outline: none;
   border: none;
   cursor: pointer;
   height: 40px;
   background: #417FF5;
   border-radius: 4px;

   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;

   color: #FFFFFF;

   text-align: center;

   &.inactive {
      background: #B5CBF3;
   }

   &:focus {
      background: #306fe3;
   }
}