@import '@/styles/vars.scss';

.toolbox {
   position: relative;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-around;
   gap: 12px;
   // padding: 0 12px;
   z-index: 35;

   > svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
      stroke:var(--color-3);

      * {
         stroke:var(--color-3);
      }

      &.active {
         stroke: #4281fa;

         * {
            stroke: #4281fa;
         }
      }
   }

   .configurator {
      position: absolute;
      top: 40px;

      background: var(--color-1);
      border: 1px solid $color-gray-600;
      box-sizing: border-box;
      padding: 12px;
      box-shadow: 0px 54px 103px rgba(0, 0, 0, 0.03), 0px 22.5599px 43.0309px rgba(0, 0, 0, 0.0215656),
         0px 12.0616px 23.0064px rgba(0, 0, 0, 0.0178832), 0px 6.76164px 12.8972px rgba(0, 0, 0, 0.015),
         0px 3.59106px 6.84961px rgba(0, 0, 0, 0.0121168), 0px 1.49432px 2.85027px rgba(0, 0, 0, 0.00843437);
      border-radius: 8px;

      display: flex;
      flex-direction: column;
      gap: 18px;

      .stroke-width {
         display: flex;
         flex-direction: column;
      }

      .colors {
         display: flex;
         gap: 12px;
         flex-wrap: wrap;
         align-items: center;

         .color {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            cursor: pointer;

            &.selected {
               outline: 2px solid blue;
            }
         }
      }
   }
}

.figures,
.tools,
.pickers {
   // flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;

   > svg {
      cursor: pointer;
   }
}

.vr {
   border: 2px solid $color-gray-600;
   height: 36px;
   width: 0px;
}
