.modal {
   position: absolute;
   z-index: 999;
   inset: 0;
   margin: auto;
   width: fit-content;
   height: fit-content;
}

.blur {
   position: absolute;
   inset: 0;
   z-index: 998;
   background: rgba(0, 0, 0, 0.3);
   cursor: crosshair;
   // pointer-events: none;
}