.loader {
   > video {
      width: inherit;
   }
      text-align: center;
   &.center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
   }
   &.small {
      $size: 100px;
      width: $size;
      height: $size;
   }
   &.medium {
      $size: 300px;
      width: $size;
      height: $size;
   }
   &.large {
      $size: 500px;
      width: $size;
      height: $size;
   }
}
