.toolbox {
   position: absolute;
   bottom: 14px;
   left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template: '. palette picker' 'tools presets picker';
   gap: 4px;
   pointer-events: none;
}
.toolbox .block {
   pointer-events: all;
   padding-inline: 10px;
   border: 0.5px solid #d7dcdf;
   /* box-shadow: 0px 54px 103px rgba(0, 0, 0, 0.03), 0px 22.5599px 43.0309px rgba(0, 0, 0, 0.0215656),
       0px 12.0616px 23.0064px rgba(0, 0, 0, 0.0178832), 0px 6.76164px 12.8972px rgba(0, 0, 0, 0.015),
       0px 3.59106px 6.84961px rgba(0, 0, 0, 0.0121168), 0px 1.49432px 2.85027px rgba(0, 0, 0, 0.00843437); */
   border-radius: 10px;
   /* content: 'hello world'; */
   background: var(--color-bg-main);
}
.toolbox .tools {
   grid-area: tools;
   height: 46px;
   display: flex;
   gap: 16px;
   padding-inline: 8px;
}
.toolbox .tools svg {
   height: 100%;
   width: 24px;
   cursor: pointer;
   stroke: var(--color-text-item);
   transition: stroke 80ms ease-out;
}
.toolbox .tools svg.active {
   stroke: #ffa61f;
}
.toolbox .tools svg.figure {
   order: 2;
}
.toolbox .tools svg:nth-child(1) {
   content: url(./assets/cursor.svg);
}
.toolbox .presets {
   grid-area: presets;
   display: flex;
   height: 46px;
   align-items: center;
   flex-wrap: wrap;
   gap: 16px;
}
.toolbox .palette {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   grid-area: palette;
   width: 126px;
   height: 96px;
   /* > input[type='range'] {
      @include controls.custom-input-range(4px, 10px);
   } */
}
.toolbox .palette .colors {
   display: flex;
   flex-wrap: wrap;
   column-gap: 16px;
   row-gap: 12px;
}
.toolbox .palette .plus {
   width: 24px;
   height: 24px;
   stroke: var(--color-text-item);
}
.toolbox .palette .plus > circle {
   display: none;
}
.toolbox .color {
   width: 24px;
   height: 24px;
   position: relative;
   cursor: copy;
   border: 0.5px solid transparent;
   border-radius: 50%;
   transition: border-color 90ms ease;
}
.toolbox .color.selectable {
   border-color: #d7dcdf;
}
.toolbox .color.selectable.selected {
   border-color: var(--color-primary-orange-900);
}
.toolbox .color.selectable > .pad {
   position: absolute;
   inset: 0;
   border-radius: inherit;
   transform-origin: center;
}
.toolbox .color.selectable > .pad > circle.width {
   fill: none;
   stroke: var(--color-gray-400);
}
.toolbox .picker {
   grid-area: picker;
   width: 126px;
   padding: 6px;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 10px;
}
.toolbox .picker > .area {
   height: 100%;
   width: 100%;
   border: none;
   border-radius: inherit;
   background-color: initial;
   padding: 2px;
}
.toolbox .picker > .area:hover {
   background-color: var(--color-border);
}
.toolbox .picker > .area::-moz-color-swatch {
   border-radius: inherit;
   border: none;
   outline: none;
}
.toolbox .picker > .area::-webkit-color-swatch-wrapper {
   padding: initial;
   border-radius: inherit;
}
.toolbox .picker > .area::-webkit-color-swatch {
   border-radius: inherit;
   border: none;
   outline: none;
   transition: background-color 80ms ease;
}
.toolbox .picker > .hex {
   width: 100%;
   border: 1px solid #d7dcdf;
   border-radius: 6px;
   /* @include text(12px, $color-text-main); */
}
.toolbox .picker > .hex:invalid {
   border-color: #da4929;
}
.toolbox .picker > .hex:focus {
   outline: none;
}
