@use 'sass:math';
@use '@/styles/_controls.scss' as controls;
@import '@/styles/vars.scss';

.toolbox {
   position: absolute;
   bottom: 14px;
   left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template:
      '.  palette picker'
      'tools presets picker';
   gap: 4px;
   $items-gap: 16px;
   .block {
      padding-inline: 10px;
      border: 0.5px solid $color-gray-400;
      // box-shadow: 0px 54px 103px rgba(0, 0, 0, 0.03), 0px 22.5599px 43.0309px rgba(0, 0, 0, 0.0215656),
      //    0px 12.0616px 23.0064px rgba(0, 0, 0, 0.0178832), 0px 6.76164px 12.8972px rgba(0, 0, 0, 0.015),
      //    0px 3.59106px 6.84961px rgba(0, 0, 0, 0.0121168), 0px 1.49432px 2.85027px rgba(0, 0, 0, 0.00843437);
      border-radius: 10px;
      // content: 'hello world';
      background: $color-bg-main;
   }
   .tools {
      grid-area: tools;
      height: 46px;
      display: flex;
      gap: $items-gap;
      padding-inline: math.div($items-gap, 2);
       svg {
         height: 100%;
         width: 24px;
         cursor: pointer;
         stroke: $color-text-item;
         transition: stroke 80ms ease-out;
         &.active {
            stroke: $color-primary-orange-900;
         }
         &.figure {
            order: 2;
         }
         &:nth-child(1) {
            content: url(./assets/cursor.svg);
         }
      }
   }
   .presets {
      grid-area: presets;
      display: flex;
      height: 46px;
      align-items: center;
      flex-wrap: wrap;
      gap: $items-gap;
   }
   .palette {
      grid-area: palette;
      width: 126px;
      height: 96px;
      .colors {
         display: flex;
         flex-wrap: wrap;
         column-gap: $items-gap;
         row-gap: 12px;
      }
      .plus {
         width: 24px;
         height: 24px;
         stroke: $color-text-item;
         > circle {
            display: none;
         }
      }
      > input[type='range'] {
         @include controls.custom-input-range(4px, 8px);
      }
   }
   .color {
      width: 24px;
      height: 24px;
      position: relative;
      cursor: copy;

      border: 0.5px solid transparent;
      border-radius: 50%;
      transition: border-color 90ms ease;
      &.selectable {
         border-color: $color-gray-400;
         &.selected {
            border-color: $color-primary-orange-900;
         }
         > .pad {
            position: absolute;
            inset: 0;
            border-radius: inherit;
            transform-origin: center;
            > circle.width {
               fill: none;
               stroke: $color-gray-400;
            }
         }
      }
   }
   .picker {
      grid-area: picker;
      width: 126px;
      padding: 6px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
      > .area {
         height: 100%;
         width: 100%;
         border: none;
         border-radius: inherit;
         background-color: initial;
         padding: 2px;
         &:hover {
            background-color: $color-border;
         }
         &::-moz-color-swatch {
            border-radius: inherit;
            border: none;
            outline: none;
         }
         &::-webkit-color-swatch-wrapper {
            padding: initial;
            border-radius: inherit;
         }
         &::-webkit-color-swatch {
            border-radius: inherit;
            border: none;
            outline: none;
            transition: background-color 80ms ease;
         }
      }
      > .hex {
         width: 100%;
         border: 1px solid $color-gray-400;
         border-radius: 6px;
         @include text(12px, $color-text-main);
         &:invalid {
            border-color: $color-alert-red-900;
         }
         &:focus {
            outline: none;
         }
      }
   }
}
