.content {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding-top: 2px;
   padding-left: 2px;

   font-family: Roboto;
   color: #312f2f;

   // This is not working in safari ;)
   // overflow: clip;

   overflow: hidden;

   scrollbar-width: none;
   &::-webkit-scrollbar {
      display: none;
   }
   &.regular {
      font-weight: 400;
      font-size: 16px;
   }
   white-space: pre-wrap;
   word-break: break-word;
   &::after {
      cursor: text;
      content: attr(placeholder);
      white-space: pre-wrap;
      word-break: break-word;
      caret-color: rgb(55, 53, 47);
      color: rgb(55, 53, 47);
   }
   &:focus {
      outline: 0;
   }

   // CHROME HACK
   backface-visibility: hidden;

   -webkit-user-drag: none;
}
