.regular {
   font-weight: 400;
   font-size: 16px;
   font-family: Roboto;
   color: #312f2f;
}
.content {
   width: 100%;
   height: 100%;
   box-sizing: border-box;

   // This is not working in safari ;)
   // https://caniuse.com/?search=overflow%3A%20clip
   // overflow: clip;
   overflow: hidden;

   scrollbar-width: none;
   &::-webkit-scrollbar {
      display: none;
   }

   &::after {
      cursor: text;
      content: attr(data-placeholder);
      // caret-color: rgb(55, 53, 47, 0.5);
      color: rgb(55, 53, 47, 0.5);
   }
   &:focus {
      outline: 0;
   }

   // CHROME HACK
   backface-visibility: hidden;

   -webkit-user-drag: none;
}
