.regular {
   font-weight: 400;
   font-family: Inter;
   color: #312f2f;
   font-size: 16px;
   line-height: 20px;
}
.content {
   display: block;
   width: 100%;
   height: 100%;
   box-sizing: border-box;

   // This is not working in safari ;)
   // https://caniuse.com/?search=overflow%3A%20clip
   // overflow: clip;
   // overflow: hidden;
   overflow-wrap: break-word;
   word-break: normal;

   // CHROME HACK
   backface-visibility: hidden;

   &:focus {
      outline: 0;
   }
   -webkit-user-drag: none;

   &.show-placeholder {
      &::after {
         cursor: text;
         content: attr(data-placeholder);
         // caret-color: rgb(55, 53, 47, 0.5);
         color: rgb(55, 53, 47, 0.5);
         line-height: normal;
         font-size: 14px;
         position: absolute;
         top: 0;
         left: 0;
         word-break: keep-all;
         white-space: nowrap;
         overflow-wrap: normal;
      }
   }
   &.shadow {
      color: #e0e0e0;
   }
   &.overflowing {
      color: #c5c9d2;
   }
}
.measurer {
   // background: red;
   visibility: hidden;
   z-index: 900;
}
