.avatars {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 12px;
   margin-right: 24px;
   .avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      box-sizing: border-box;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;

      display: flex;
      justify-content: center;
      align-items: center;
   }

   .share {
      width: 59px;
      height: 28px;
      margin-left: 4px;
   }
}