@use '@/assets/styles/framework.scss';

.settings {
	background: #FFFFFF;
	border: 1px solid #D7DCDF;
	box-sizing: border-box;
	box-shadow: 0px 42px 80px rgba(0, 0, 0, 0.07), 0px 17.5466px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 9.38125px 17.869px rgba(0, 0, 0, 0.0417275), 0px 5.25905px 10.0172px rgba(0, 0, 0, 0.035), 0px 2.79304px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.16225px 2.21381px rgba(0, 0, 0, 0.0196802);
	border-radius: 8px;

	width: 724px;
	height: 528px;

	display: flex;
	align-items: stretch;

	.menu {
		background: #FAFAFA;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		padding: 10px 14px;
		border-radius: 15px;
		width: 192px;

		.blocks {
			width: 100%;
			margin-top: 50%;
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		.title {
			font-family: Inter;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 14px;
			color: #9CA5AB;
			text-transform: uppercase;
			padding-bottom: 12px;
		}
	}
}

.control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	font-family: monospace;
	gap: 5px;

	>input {
		width: 150px;
	}
}

.check {
	display: flex;
	align-items: center;

	>input {
		margin-left: 0;
	}
}

.grid-type {
	margin-top: 15px;
	margin-bottom: 15px;

	.methods {
		display: flex;
		align-items: center;
		justify-content: space-around;

		>input {
			margin: 0;
		}

		>label {
			margin-top: 2px;
			text-align: center;
		}
	}
}

.options-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	>svg {
		width: 24px;
		height: 24px;
		stroke: #2c3e50 !important;
	}
}


.settings-view {
	padding: 24px 32px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.nickname {
	display: flex;
	align-items: center;
	gap: 15px;
}